
h2.tabulation {
    position: relative;
    margin-left: 3rem;
}

h2.tabulation::before {
    content: "";
    position: absolute;
    top: 6%;
    bottom: 6%;
    left: -1%;
    width: 2px;
}

a {
    color: inherit !important;
}

